#reg{
    margin-top: -100%;
}
#notice{
    display: none;
    position:absolute;
    z-index: 4;
    margin-top:-25%;
    margin-left: 30%;
    color: red;
}
#logoInd{
    width: 50vw;
    position:fixed;
    margin-left: 40%;
    margin-top:15%;
    filter:invert(100%);
}