
body{
    background-image: url("/bgIndex");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    z-index: 0;
}

.logreg{
    position:absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    z-index: 1;
    border-radius: 25px;
    display:grid;
    float: center;
    width: 30%;
    height: 98vh;
    justify-content:center;

    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;
    align-items:center;
    margin-top: 0px;
    border:0px;
    padding:0px;
    h1{
        margin-bottom:-150%;
    }
    a{
        margin-top: -300%;
        margin-left:10%;
    }
    button{
        margin-left: 0%;
        margin-top:-200%;
    }
}
.menu{
    background-color: white;
    display: grid;
    margin-left: 10%;
    margin-top: 5%;
    height: 80vh;
    width: 80%;
}
.incase{
    display: grid;
    justify-content: left;
    width: 8vw;
}
.block{
    background-color: white;
    float:center;
    height: 95vh;
    width: 50vw;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
}
.exs{
    margin:10%;
}
.bs+ .bs{
    margin-left:0px;
}
.bs{
    margin-left: 25%;
    height: 5vh;
    width: 25vw;
}