<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marion</title>
    <!--styles-->
    <link rel="stylesheet" href="styles">
    <!--stend-->

</head>
<body>

   <div class="logreg">
    <h1 id="reg">register</h1>
    <form action="POST">
        <label for="user">user</label><br>
        <input type="text" id="user" name="user"><br>
        <label for="name">name</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="passw">password</label><br>
        <input type="text" id="passw" name="passw"><br>
        <label for="passwa">password again</label><br>
        <input type="text" id="passwa" name="passwa"><br>
        <label for="bday">birthday</label><br>
        <input type="text" id="bday" name="bday"><br>
        <button type="submit">register</button>
    </form>
    <a href="/" id="reg">back</a>
   </div>

</body>
</html>