<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles">
    <link rel="stylesheet" href="/stylesB">
    <link rel="stylesheet" href="/calc">
    <title>Marion</title>
</head>
<body>
    <div class="calc">

    </div>
    <div class="block">
        <div class="exs">
            <h1 id="ex1">1</h1>
            <input type="text">
        </div>
        <div class="exs">
            <h1 id="ex2">2</h1>
            <input type="text">
        </div>
        <div class="exs">
            <h1 id="ex3">3</h1>
            <input type="text">
        </div>
        <div class="exs">
            <h1 id="ex4">4</h1>
            <input type="text">
        </div>
    </div>
    <button class="bs">←</button>
    <button class="bs">→</button>
</body>
</html>